.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
  }
  
  .meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .MealsLoading{
    margin: 2em auto;
    text-align: center;
    color: black;
    padding: 0.2em;
    width: 50%;
    background-color: white;
    border-radius: 1em;
  }
  .MealsError{
    margin: 2em auto;
    text-align: center;
    color: white;
    padding: 0.2em;
    width: 50%;
    background-color: rgb(249, 120, 120);
    border-color: rgb(255, 69, 69);
    border-radius: 1em;
  }
  
  @keyframes meals-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }